<tr>
  <th>Name</th>
  <th>Value</th>
  <th>Date</th>
</tr>
{{#each entity.properties as |property|}}
  <tr>
    <td>{{#link-to 'entities.entity.property' property}}{{property.name}}{{/link-to}}</td>
    <td>{{property.value}} {{property.type}}</td>
    <td>{{property.timestamp}}</td>
  </tr>
{{/each}}
