{{#if editing}}
  {{input value=widget.title placeholder='Enter title'}}
{{else}}
  <h4>{{widget.title}}</h4>
{{/if}}

<table class="widgetTable">
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Signal X</td>
    <td>1.234</td>
  </tr>
</table>
