html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #4d4d4d;

	min-width: 300px;
	/*max-width: 1500px;*/
	margin: 0 auto;

	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.hidden {
	display: none;
}

#lapMashupApp {

}

header {
	color: #fff;
	background-color: #8080C9;

	padding: 10px 0 10px 0;

	font-size: 60px;
	font-weight: 100;
	text-align: center;
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegiblity;
	-moz-text-rendering: optimizeLegibitliy;
}

footer {
	color: #777;

	margin: 35px auto 0;

	width: 100%;

	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

#main {
	margin-top: 15px;
	margin-left: 15px;

	width: 100%;
}

.layout-left {
	float: left;
	width: 50%;

	padding-top: 10px;
	/*padding-left: 25px;*/
}

.layout-right {
	float: right;
	width: 50%;

	padding-top: 10px;
	/*padding-right: 25px;*/
}

.layout::after {
	display: block;
	content: "";
	clear: both;
}

#properties > .layout-left {
	width: 25%;
}

#properties > .layout-right {
	width: 75%;
}

#main > .layout-left {
	width: 40%;
}

#main > .layout-right {
	width: 60%;
}

.data-table {
	background: #eee;

	border: 1px solid #999;
	border-collapse: collapse;

	width: 100%;
	margin: 0 auto;
}

.data-table th {
	background: #ddd;

	border: 1px solid #999;
	border-collapse: collapse;

	padding: 5px;

	font-size: 16px;
}

.data-table td {
	border: 1px solid #999;
	border-collapse: collapse;

	padding: 5px;

	font-size: 14px;
}

.data-table.entity-table {
	width: 45%;
	margin: 0;
}

.line-chart {
	width: 100%;
	height: 500px;

	margin: 10px;
}

.mockup-image {
	width: 100%;
	height: 75%;

	border: 1px solid black;

	text-align: center;
	vertical-align: middle;
	line-height: 400px;
}
