/**
 * File: app.css
 * Author: Markus Grigull <mgrigull@eonerc.rwth-aachen.de>
 * Date: 26.06.2016
 * Copyright: 2016, Institute for Automation of Complex Power Systems, EONERC
 *   This file is part of VILLASweb. All Rights Reserved. Proprietary and confidential.
 *   Unauthorized copying of this file, via any medium is strictly prohibited.
 **********************************************************************************/

@import 'plots.css';
@import 'models.css';
@import 'simulations.css';
@import 'projects.css';

* {
  margin: 0;
  padding: 0;
}

/**
 * Application skeleton
 */
.ember-application {
  min-width: 800px;

  background: #ddd;
	color: #4d4d4d;

  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

header {
  width: 100%;
  height: 50px;

  padding: 10px 0 0 0;

  color: #fff;
  background-color: #151;
}

header h1 {
  width: 100%;

  text-align: center
}

footer {
  width: 100%;

  color: #666;

  margin-top: 20px;

  text-align: center;

  clear: both;
}

/**
 * Main layout
 */
#main-menu {
  float: left;

  width: 125px;

	background-color: #fff;
	box-shadow: 0 2px  4px 0 rgba(0, 0, 0, 0.2),
				      0 9px 18px 0 rgba(0, 0, 0, 0.1);

  margin: 20px 0 0 20px;
  padding: 20px 20px 20px 30px;
}

#wrapper {
  min-height: 100px;

  background-color: #fff;
	box-shadow: 0 2px  4px 0 rgba(0, 0, 0, 0.2),
				      0 9px 18px 0 rgba(0, 0, 0, 0.1);

  margin: 20px 20px 20px 220px;
  padding: 20px;
}

/**
 * Login layout
 */
#login-container {
  width: 320px;
  height: 180px;

  background-color: #fff;
  box-shadow: 0 2px  4px 0 rgba(0, 0, 0, 0.2),
				      0 9px 18px 0 rgba(0, 0, 0, 0.1);

  margin: 80px auto;
  padding: 0px;
}

#login-container h1 {
  background-color: #cdcdcd;

  text-align: center;

  font-size: 24;

  padding: 10px 0;
}

#login {

}

#login-form {
  padding: 20px 20px;
}

/**
 * Visualization
 */
.draggableDropzone {
  display: block;

  min-height: 400px;

  border: 3px dashed #aaa;

  &.activated {
    border-color: #2ecc71;
  }
  &.deactivated {
    border-color: #e1e1e1;
  }
}

.draggableItem[draggable=true] {
  display: inline-block;
  background: #e1e1e1;
  cursor: move;

  padding: 5px 10px;

  border: 1px solid gray;

  &:hover {
    background-color: #aaa;
  }
}

/**
 * Table
 */
.column-center {
  text-align: center;
}

/**
 * Table full width
 */
.table-full-width {
  width: 100%;

  border: 0;
  border-collapse: collapse;
}

.table-full-width th, td {
  padding: 5px;

  text-align: left;

  border: none;
}

.table-full-width  th {
  background-color: #151;
  color: #fff;
}

.table-full-width tr:nth-child(even) {
  background-color: #ddd;
}

/**
 * Form create record
 */
.form-create-record {
  padding: 0;

  width: 400px;
}

.form-create-record table {
  border: none;
}

.form-create-record td {
  padding: 5px 10px 5px 0;
}

.form-create-record input {
  padding: 2px 4px;

  width: 100%;
}

.form-create-record input[type=number] {
  width: 60px;

  padding: 0;
}

.form-create-record button {
  background-color: #151;
  color: #fff;

  font-size: 14px;

  padding: 4px 8px;

  border: none;

  cursor: pointer;
}

.form-create-record button:hover {
  background: #373;
}
