@import "normalize.css";

/*
 * Skeleton
 */
html, body {
	margin: 0;
	padding: 0;
}

.ember-application {
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
	
	position: absolute;
	overflow: hidden;
	
	background: #6EA2B0;
	color: #4d4d4d;

	margin: 0 auto;

	/*font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font: 1.7em Helvetica;
	font-weight: 300;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.row, .col {
	overflow: hidden;
	position: absolute;
}

.row {
	left: 0;
	right: 0;
}

.col {
	top: 0;
	bottom: 0;
}

.hidden {
	display: none;
}

/*
 * Application
 */
#lapMashupApp {

}

header {
	color: #103B7D;
	background-color: #fff;

	height: 60px;
	top: 0;
	
	border-bottom: 3px solid #bbb;
}

header #title {
	font-size: 25px;
	font-weight: 100;
	text-align: left;
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegiblity;
	-moz-text-rendering: optimizeLegibitliy;
	
	padding: 15px 0 20px 30px;
	
	float: left;
}

header #logos {
	height: 60px;
	
	padding-top: 15px;
	
	float: right;
}

footer {
	color: #555;

	height: 25px;
	bottom: 0;

	font-size: 1em;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
	text-align: center;
}

#main {
	top: 60px;
	bottom: 0px;
	
	left: 20px;
	right: 20px;
}

.svg-image {
	width: 50%;
	height: auto;
}

.svg-logo {
	width: auto;
	height: 30px;
	
	padding-right: 30px;
	
	float: left;
}

#rwth-logo {
	margin-top: 10px;
	
	height: 15px !important;
}

#DS-image {
  width: auto;
  height: 405px;
}

#TS-image {
  width: auto;
  height: 410px;
}

h1 {
	font-size: 1.5em;
	
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.2em;
	
	text-align: left;

  color: #103B7D;
}

h3 {
	font-size: 0.85em;
	/*font-weight: bold;*/
}

h4 {
	font-size: 0.8em;
}

p {
	font-size: 0.65em;
}

.gauge {
  padding-top: 20px;
  padding-left: 20px;

  float: left;
}

.alarm {
  float: right;
  padding-top: 20px;
  padding-right: 80px;
}

button {
  border: 3px solid blue;
  color #FFF;
  background-color: #ccf;

  font-size: 20px;
  font-weight: bold;

  width: 250px;
  height: 80px;
}

button:disabled {
  border: 3px solid gray !important;
  background-color: #ccc !important;
}

.link-button {
  display: block;
  border: 3px solid green;
  color: #333;
  background-color: #beb;

  font-size: 14px;
  font-weight: bold;
  text-align: center;
  
  width: 120px;
  height: 30px;
  padding: 5px;
}

.link-button:hover {
  text-decoration: none !important;
}

#init-button {
}

#event-button {
  border: 3px solid red;
  background-color: #fcc;
}

/*
 * Layout
 */
.grid {
	width: 100%;
	height: 100%;
	
	margin: 0;
	/*padding: 0;*/
	
	padding-top: 0px;
	padding-bottom: 0px;

	border: 0;
	
	border-collapse: collapse;

  table-layout: fixed;
overflow: hidden;
}

.grid td {
  width: 50%;
  height: 50%;
  
	/*padding: 20px 10px 20px 10px;*/
	padding: 2px;

  vertical-align: top;
}

.layout-page {
	background-color: #f2f2f2;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
				0 9px 18px 0 rgba(0, 0, 0, 0.1);
	
	width: 100%;
	height: 100%;
	
	padding: 10px;
	
	overflow: hidden;
}

.layout-page h2 {
	text-align: center;

	font-size: 1em;
	
	margin: 0;
}

.layout-page h3 {
	text-align: left;
}

.page-grid {
	width: 100%;
	height: 100%;
	
	max-width: 100%;
	max-height: 100%;
	
	padding: 0;
	margin: 0;

  table-layout: fixed;
}

.page-grid tr {
	padding: 0;
	margin: 0;
}

.page-grid td {
	padding: 0;
	margin: 0;

  width: auto;
  height: auto;
}

.page-grid h2 {
  font-size: 1.4em;

  padding-top: 35px;
}

.page-grid h3 {
  padding: 0;
  margin: 0;
}

.shadowed {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
	      0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/*
 * Content
 */

.property-cell {
	
}
 
.chart-cell {
	padding-left: 10px !important;
}

#simulation-page {

}

#consumer-page h2 {
	margin: 10px 0 0 0 !important;
}

/*
 * Components
 */
.line-chart {
	width: 100%;
	height: 90%;
}

.data-table {
	background: #eee;

	margin: 0;
	padding: 0;

	border: 1px solid #999;
	border-collapse: collapse;
	
	vertical-align: top;
}

.data-table th {
	background: #ddd;

	border: 1px solid #999;
	border-collapse: collapse;

	padding: 2px 4px;

	font-size: 0.7em;
}

.data-table td {
	border: 1px solid #999;
	border-collapse: collapse;

	padding: 2px 4px;

	font-size: 0.6em;
}

.label-source {
	text-align: left;
	
	margin: 0;
	padding: 0;
	
	float: left;
}

.label-type {
	text-align: right;
	
	margin: 0;
	padding: 0;
	
	float: right;
}

/*
 * Flot charts
 */
.flot-tick-label {
	font-size: 0.75em;
}
