/**
 * File: projects.css
 * Author: Markus Grigull <mgrigull@eonerc.rwth-aachen.de>
 * Date: 26.07.2016
 * Copyright: 2016, Institute for Automation of Complex Power Systems, EONERC
 *   This file is part of VILLASweb. All Rights Reserved. Proprietary and confidential.
 *   Unauthorized copying of this file, via any medium is strictly prohibited.
 **********************************************************************************/

/**
 * Route: projects
 */
.projects-container {
  margin-top: 20px;
}

.projects-row-controls {
  float: right;
}

.projects-row-controls a {
  margin-left: 10px;
}

.projects-new-container {
  margin-top: 20px;
}
