/**
 * File: simulators.css
 * Author: Markus Grigull <mgrigull@eonerc.rwth-aachen.de>
 * Date: 30.09.2016
 * Copyright: 2016, Institute for Automation of Complex Power Systems, EONERC
 *   This file is part of VILLASweb. All Rights Reserved. Proprietary and confidential.
 *   Unauthorized copying of this file, via any medium is strictly prohibited.
 **********************************************************************************/

/**
 * Route: simulators
 */
.simulators-container {
  margin-top: 20px;
}

.simulators-row-controls {
  float: right;
}

.simulators-row-controls a {
  margin-left: 10px;
}

.simulators-new-container {
  margin-top: 50px;
}
