<h1>Edit project</h1>

<form id="project-edit-form" {{action 'saveEdit' on='submit'}} >
  <p>
    <label for="name">Name</label>
    {{input id='name' placeholder='Enter project name' value=name}}
  </p>

  <button {{action 'cancelEdit'}}>Cancel</button>
  <button type="submit">Save</button>

  {{#if errorMessage}}
    <p>{{errorMessage.message}}</p>
  {{/if}}
</form>
