<h1>{{model.name}}</h1>

<div class="project-index-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th width="100px"></th>
    </tr>
    {{#each model.visualizations as |visualization|}}
      <tr>
        <td>
          {{#link-to 'visualization.index' visualization.id}}{{visualization.name}}{{/link-to}}
        </td>
        <td>
          <div class="project-index-row-controls">
            {{#link-to "visualization.edit" visualization.id}}Edit{{/link-to}}
            {{#link-to "visualization.delete" visualization.id}}Delete{{/link-to}}
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="project-index-new-visualization">
  <a href="" {{action 'newVisualization'}}>New visualization</a>
</div>
