<h1>New project</h1>

<section id="project-new">
  <form id="project-new-form" {{action 'newProject' on='submit'}} >
    <p>
      <label for="name">Name</label>
      {{input id='name' placeholder='Enter project name' value=name}}
    </p>

    <button {{action 'cancelNewProject'}}>Cancel</button>
    <button type="submit">Create</button>

    {{#if errorMessage}}
      <p>{{errorMessage.message}}</p>
    {{/if}}
  </form>
</section>
