<h1>{{model.name}}</h1>

<div class="plot-toolbox">
  <h3>Toolbox</h3>
  {{#draggable-item content='chart'}}
    <span>Chart</span>
  {{/draggable-item}}

  {{#draggable-item content='table'}}
    <span>Table</span>
  {{/draggable-item}}

  {{#draggable-item content='value'}}
    <span>Value</span>
  {{/draggable-item}}
</div>

<div>
  {{#draggable-dropzone dropped='addPlot'}}
    {{#each model.plots as |plot|}}
      {{#plot-container plot=plot editing=true}}{{/plot-container}}
    {{/each}}
  {{/draggable-dropzone}}
</div>

{{#draggable-dropzone dropped='addRowWithPlot'}}
  <div class="plot-add-row">+</div>
{{/draggable-dropzone}}

<p style="clear: both;">
  <button {{action 'cancelEdit'}}>Cancel</button>
  <button {{action 'saveEdit'}}>Save</button>
</p>
