<h1>{{model.name}}</h1>

<div class="widget-toolbox">
  <h3>Toolbox</h3>
  {{#draggable-item content='table'}}
    <span>Table</span>
  {{/draggable-item}}

  {{#draggable-item content='value'}}
    <span>Value</span>
  {{/draggable-item}}

  {{#draggable-item content='label'}}
    <span>Label</span>
  {{/draggable-item}}

  {{#draggable-item content='plot'}}
    <span>Plot</span>
  {{/draggable-item}}

  <p>
    <i>Hint: Double click widgets to edit or delete them.</i>
  </p>
</div>

{{#draggable-dropzone dropped='addWidget'}}
  {{widget-container widgets=model.widgets editing=true data=data showWidgetDialog='showWidgetDialog'}}
{{/draggable-dropzone}}

<p>
  <button {{action 'cancelEdit'}}>Cancel</button>
  <button {{action 'saveEdit'}}>Save</button>
</p>
