{{#link-to 'project.index' model.project.id}}Back to {{model.project.name}}{{/link-to}}

<h1>{{model.name}}</h1>

{{plot-container plots=model.plots data=data}}

<p>
  {{#link-to "visualization.edit" model.id}}Edit layout{{/link-to}}
</p>
