<h1>{{model.name}}</h1>

<div class="plots">
  {{#each model.plots as |plot|}}
    {{#plot-container plot=plot}}{{/plot-container}}
  {{/each}}
</div>

<p>
  {{#link-to "visualization.edit" model.id}}Edit visualization{{/link-to}}
  {{#link-to "visualization.delete" model.id}}Delete visualization{{/link-to}}
</p>
