<h1>{{model.name}}</h1>

{{plot-container plots=model.plots}}

<p>
  {{#link-to "visualization.edit" model.id}}Edit visualization{{/link-to}}
  {{#link-to "visualization.delete" model.id}}Delete visualization{{/link-to}}
</p>
