{{#link-to 'project.index' project.id}}Back to {{model.project.name}}{{/link-to}}

<h1>{{model.visualization.name}}</h1>

{{plot-container plots=model.visualization.plots}}

<p>
  {{#link-to "visualization.edit" model.visualization.id}}Edit layout{{/link-to}}
</p>
