/**
 * File: widgets.css
 * Author: Markus Grigull <mgrigull@eonerc.rwth-aachen.de>
 * Date: 02.03.2017
 * Copyright: 2017, Institute for Automation of Complex Power Systems, EONERC
 *   This file is part of VILLASweb. All Rights Reserved. Proprietary and confidential.
 *   Unauthorized copying of this file, via any medium is strictly prohibited.
 **********************************************************************************/

.widget {
  background-color: #fff;
}

.editing-widget {
  background-color: #fff;
}

/* Area to trigger the context menu */
.react-contextmenu-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px 6px;
}

.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    width: 200px;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
	cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.plot-table-widget, .plot-widget, .value-widget, .image-widget, .label-widget {
    width: 100%;
    height: 100%;
    padding: 3px 6px;
    border: 1px solid lightgray;
}

.plot-table-widget .content {
  display: -webkit-flex;
  display: flex;
}

.plot-table-widget .widget-table {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Reset Bootstrap styles to "disable" while editing */
div[class*="-widget"] .btn[disabled], .form-control[disabled] {
  cursor: inherit;
  pointer-events: none;
}

.btn-default[disabled]:hover {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default.active[disabled]:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
 /* End reset */
 
.plot-table-widget .widget-plot {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

/*.single-value-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
}*/

.single-value-widget {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-value-widget > * {
    width: 50%;
    float: left;
    margin: 5px;
    font-size: 1vw;
}

/* Button widget styling */
.button-widget button {
    border-radius: 25px;
    border-style: double;
    border-width: 5px;
    overflow-x: hidden;
}

.button-widget button:hover {
    border-style: double;
}
/* End button widget styling */

.full {
    width: 100%;
    height: 100%;
}

/* Number input widget */ 
.number-input-widget label {
    cursor: inherit;
}
/* Number input widget */ 