<h3>{{model.id}}</h3>

{{#if model.properties}}
<section id="main-left">
  {{properties-table entity=model}}
</section>

<section id="main-right">
  {{outlet}}
</section>
{{else}}
  <h3>No properties</h3>
{{/if}}
