<h1>Edit</h1>

<form id="user-edit-form" {{action 'saveEdit' on='submit'}} >
  <p>
    <label for="username">Username</label>
    {{input id='username' value=model.username}}
  </p>
  <p>
    <label for="mail">Mail</label>
    {{input id='mail' value=model.mail placeholder='Enter e-mail'}}
  </p>

  <button type="submit">Save</button>
</form>
