<h1>Users</h1>

{{#link-to 'user.new'}}New user{{/link-to}}

<div>
  <ul>
    {{#each users as |user|}}
      <li>{{#link-to 'user.edit' user.id}}{{user.username}}{{/link-to}} {{#link-to 'user.delete' user.id}}X{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
