<header>
  <h1>VILLAS</h1>
</header>

{{#if session.isAuthenticated}}
  <div id="main-menu">
    <h2>Menu</h2>

    <ul>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
      <li>{{#link-to 'simulations'}}Simulations{{/link-to}}</li>
      <li>{{#link-to 'simulators'}}Simulators{{/link-to}}</li>
      <li>{{#link-to 'me'}}Account{{/link-to}}</li>
      <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
    </ul>
  </div>

  <section id="wrapper">
    {{outlet}}
  </section>
{{else}}
  {{outlet}}
{{/if}}

<footer>
  Copyright &copy; 2016
</footer>
