<section id="lapMashupApp">
	<header id="header">
		<div id="title">
			Lab Mashup Visualization
		</div>
		<div id="logos">
			<img src={{"assets/images/eu.svg"}} class="svg-logo" />
			<img src={{"assets/images/RWTH.svg"}} class="svg-logo" id="rwth-logo" />
			<img src={{"assets/images/PoliTo.svg"}} class="svg-logo" />
		</div>
	</header>

	{{outlet}}
</section>

<footer id="info">
	<p>&copy; 2015 - Institute for Automation of Complex Power Systems</p>
</footer>
