<section id="lapMashupApp">
	<header id="header">
		<h1>Lab Mashup Visualization</h1>
	</header>
	
	{{outlet}}
</section>

<footer id="info">
	<p>&copy; 2015 - Institute for Automation of Complex Power Systems</p>
</footer>
