<section id="lapMashupApp">
	<header id="header">
		Lab Mashup Visualization
	</header>

	{{outlet}}
</section>
<!--
<footer id="info">
	<p>&copy; 2015 - Institute for Automation of Complex Power Systems</p>
</footer>
-->
