<section id="lapMashupApp">
	<header>
		<div id="title">
			European Real-Time Integrated Co-Simulation Demo
		</div>
		<div id="logos">
			<img src={{"assets/images/eu.png"}} class="logo" />
			<img src={{"assets/images/rwth.png"}} class="logo" id="rwth-logo" />
			<img src={{"assets/images/polito.png"}} class="logo" />
		</div>
	</header>

	{{outlet}}
</section>
