<section class="row" id="main">
	<table class="grid">
		<tr height="50%">
			<td colspan="2" style="padding-top: 20px;">
				<div class="layout-page" width="66%">
					<img src={{"assets/images/TS_DS_grid_withSimulators.svg"}} class="svg-image" />
				</div>
			</td>
			<td rowspan="2" width="33%" style="padding-top: 20px; padding-bottom: 20px">
				<div class="layout-page">
					<h2>Simulation</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br />

					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
				</div>
			</td>
		</tr>
		<tr height="50%">
			<td width="33%" style="padding-bottom: 20px;">
				{{entity-chart entity=S1Entity entityName="Transmission System"}}
			</td>
			<td width="33%" style="padding-bottom: 20px;">
				{{entity-chart entity=S2Entity entityName="Distribution System"}}
			</td>
		</tr>
	</table>
</section>
