<section class="row" id="main">
	<table class="grid">
		<tr height="50%">
			<td width="50%" style="padding-top: 20px;">
				<div class="layout-page">
				</div>
			</td>
			<td width="50%" style="padding-top: 20px;">
				<div class="layout-page">
				</div>
			</td>
		</tr>
		<tr height="50%">
			<td width="50%" style="padding-bottom: 20px;">
				<div class="layout-page">
				</div>
			</td>
			<td width="50%" style="padding-bottom: 20px;">
				<div class="layout-page">
				</div>
			</td>
		</tr>
	</table>
</section>
