<section id="main">
	<table id="properties-table">
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>Voltage</td>
			<td>2.34 kV</td>
		</tr>
		<tr>
			<td>Current</td>
			<td>7.6 A</td>
		</tr>
	</table>
</section>
