<section id="main">
	<section id="main-left">
		<h2>Entities</h2>

		{{entities-table entities=model}}
	</section>

	<section id="main-right">
		{{outlet}}
	</section>
</section>

<section id="last-update-info">
	<p>Last updated: </p>
</section>
