<section id="login-container">
  <h1>Login</h1>

  <form id="login-form" {{action 'authenticate' on='submit'}} >
    <p>
      <label for="username">Username</label>
      {{input id='username' placeholder='Enter username' value=username}}
    </p>
    <p>
      <label for="password">Password</label>
      {{input id='password' placeholder='Enter password' type='password' value=password}}
    </p>
    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</section>
