<h1>Preferences</h1>

<form id="user-edit-form" {{action 'changeUser' on='submit'}} >
  <p>
    <label for="username">Username</label>
    {{input id='username' value=model.username readonly=true}}
  </p>
  <p>
    <label for="mail">Mail</label>
    {{input id='mail' value=model.mail placeholder='Enter e-mail'}}
  </p>

  <button type="submit">Save</button>
</form>

{{#if isAdmin}}
  <div>
    {{#link-to 'user'}}Users{{/link-to}}
  </div>
{{/if}}
