<h1>Models</h1>

<ul>
  {{#each model as |simulationModel|}}
    <li>{{#link-to "simulation-model.index" simulationModel.id}}{{simulationModel.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to "simulation-model.new"}}New model{{/link-to}}
